<div>
  <h1>Some of the questions have video and audio</h1>
  <h2>Please turn on your volume and play our sample video</h2>

  <div>
        
        <iframe src="https://iframe.dacast.com/vod/4ef0dc04-a267-d743-9751-74a47263325b/64107d6d-e8fd-0f57-ff43-83ec1dd302e9" 
        width="300" height="100" frameborder="0" scrolling="no" allow="autoplay" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
  </div>
  <div class="clearfix"></div>
  <div>
    <button type="button" class="btn btn-primary" (click)="next()">I can see and hear the video!</button>
  </div>
</div>
