<div>
  <h1>Some of the questions have video and audio</h1>
  <h2>Please turn on your volume and play our sample video</h2>

  <div>
    <iframe src="https://fast.wistia.net/embed/iframe/me537a1hpv" title="IMG_0512 Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen msallowfullscreen width="300" height="169"></iframe>
  </div>
  <div class="clearfix"></div>
  <div>
    <button type="button" class="btn btn-primary" (click)="next()">I can see and hear the video!</button>
  </div>
</div>
