<div class="container">
  <h2>NUMBER (1-8) THESE OLD TESTAMENT PROPHETS IN ORDER BASED UPON THE LENGTH OF THEIR PROPHETIC MINISTRY</h2>
  <div class="row">
    <div >
      <ul>
        <li><input id="box1" type="number" placeholder="#" (click)="setFocus('box1')"  class="form-control answer"  />ISAIAH</li>
        <li><input id="box2" type="number" placeholder="#" (click)="setFocus('box2')"  class="form-control answer" />SAMUEL</li>
        <li><input id="box3" type="number" placeholder="#" (click)="setFocus('box3')"  class="form-control answer" />EZEKIEL</li>
        <li><input id="box4" type="number" placeholder="#" (click)="setFocus('box4')"  class="form-control answer" />MALACHI</li>   
        <li><input id="box5" type="number" placeholder="#" (click)="setFocus('box5')"  class="form-control answer" />MICAH</li>
        <li><input id="box6" type="number" placeholder="#" (click)="setFocus('box6')"  class="form-control answer" />ELIJAH</li>
        <li><input id="box7" type="number" placeholder="#" (click)="setFocus('box7')"  class="form-control answer" />HOSEA</li>
        <li><input id="box8" type="number" placeholder="#" (click)="setFocus('box8')"  class="form-control answer" />JOEL</li>
      </ul>
    </div>
  </div>
</div>
