<app-background-container color="#D72004"></app-background-container>
<div class="container">

  <div *ngIf="selectedTrivia != null">
    <h1 class="question">{{selectedTrivia.question}}</h1>
      
    
    <h2 class="hint">{{selectedTrivia.hint}}</h2>
    

    <div style="text-align: center; margin: auto;">
    
      <table class="answer">
        <tr>
        <td *ngFor="let x of answer" (click)="setFocus('boxLetter')" [ngClass]="{'border': x.letter != ' ', 'no-border': x.letter == ' '}">
          <span *ngIf="x.visible">{{x.letter}}</span>
        </td>
        </tr>
      </table>

    </div>
    <div>
      
      <input id="boxLetter" type="text"  (ngModelChange)="checkLetter();letter='';" [(ngModel)]="letter" class="form-control" placeholder="pick a letter!" />
    </div>
    </div>
  </div>
    
