<div *ngIf="video">
    <div id="myVideo"></div>
  <!--<div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><iframe [src]="'https://fast.wistia.net/embed/iframe/' + video.fileName + '?videoFoam=true' | safe" title="IMG_0512 Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen msallowfullscreen width="100%" height="100%"></iframe></div></div>-->
  <div class="text-center" style="margin-top:10px;"><button type="button" class="btn btn-primary" *ngIf="!hasListener && !isLoading" (click)="navigate()">Continue</button></div>
</div>


