.map-container{
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1024px;
    background-image: url('~/src/assets/jerusalem.png');
    
    background-repeat: no-repeat;
  
  
}
.hint {
    background-color: #ECECE3;
    text-align: center;
    border: solid 1px black;
    padding: 7px;
    max-width: 600px;
    margin: 0 auto;
  }
.dot {
    stroke: black;
    fill: black;
    cursor: pointer;
}
.label{
    cursor: pointer;
    font-size:16pt;
    
}

.selected {
    stroke: black;
    fill: greenyellow;
    
}
.book{
    border: solid 1px black;
    -moz-outline-radius: 5px; 
    border-radius: 5px;
    width: 200px;
    
    padding: 5px;
    margin: 5px auto;
    background:rgba(100,100,100,.5);
}
.book-container{
    background:rgba(200,200,200,.5);
}