.map-container{
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1024px;
}
.dot {
    stroke: black;
    fill: black;
    cursor: pointer;
}
.label{
    cursor: pointer;
    font-size:16pt;
    
}

.selected {
    stroke: black;
    fill: greenyellow;
    
}
