<div class="login-page">
<div class="container">
  <div class="login-container">
    <img src="../../assets/star-logo.png" width="100%" />
    <div class="login-title">Ultra Secure Archeologist Database</div>
    <img class="help-icon" src="../../assets/hint.png" (click)="showHint = true" style="float: right; " />
   
   
    <div class="login-fields">

    
      <div class="input-group">
          <input id="boxUser" [disabled]="showPassword" type="text" placeholder="{{userText}}" [(ngModel)]="user" class="form-control"  (keydown.enter)="submit()" />
          <div class="input-group-append"><button  [disabled]="showPassword" class="btn btn-primary" (click)="submit()" type="button">Submit</button></div>
      </div>
    
   
    
    <div *ngIf="showPassword">
       
        <div class="input-group">
            <input id="boxPassword" type="text" placeholder="{{passwordText}}"  [(ngModel)]="password" class="form-control" (keydown.enter)="login()" />
            <div class="input-group-append"><button  class="btn btn-primary" (click)="login()" type="button">Login</button></div>
        </div>
      
        
     
    </div>
  </div>
  </div>

</div>
</div>

<div class="hint-container" *ngIf="showHint" >
    <div class="overlay" (click)="showHint=false;"></div>
    <div class="hint" (click)="showHint=false;">
    
        <div class="clearfix"></div>
        <span>Usernames are typically in the following format:</span>
        <span>[firstname][lastname]</span>
        <span class="text-muted">Example: josephsmith</span>
    </div>
    
</div> 

