.key td{
    height: 75px;
    width: 75px;
    text-align: center;
}
.key{
    padding: 0px;
    margin: 0px;
}

.symbol{
  font-size:25pt;
  border: solid 2px black;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  height: 80px;
  width: 80px;
  padding-top:10px;
  background-color: #C2782D;
}
.glyph{
  font-size: 25pt;
  
}
.glyph img{

  height: 50px;
}
.img-papyrus{
  width: 100%;
  max-width: 750px;
}
.puzzle td {
  
  text-align: center;
  vertical-align: middle;
  
}

.puzzle {
  padding: 0px;
  margin: 0 auto;
}

.background{
  //background-image:  url('~/src/assets/papyrus.jpeg');

  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  top:0;
  left:0;
  z-index: -1;

}