<form>
  <div class="form-group">
    <label for="first">First Name</label>
    <input id="first" [(ngModel)]="user.first" type="text" class="form-control" placeholder="First Name" />
  </div>
  <div class="form-group">
    <label for="last">Last Name</label>
    <input id="last" [(ngModel)]="user.last" type="text" class="form-control" placeholder="Last Name" />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" [(ngModel)]="user.email" type="email" class="form-control" placeholder="Email" />
  </div>

  <div class="form-group">
    <label for="phone">Phone</label>
    <input id="phone" [(ngModel)]="user.phone" type="text" class="form-control" placeholder="Phone" />
  </div>
  <div class="form-group text-center">
    <button  (click)="onStart()" type="submit" class="btn btn-primary">Start</button>
  </div>
</form>
