
<h3>Please enter an email address for one of the team’s members.</h3>
<p>
  You’ll receive an email immediately that includes some hints should your team get stumped during the activity. 
  Please don’t resort to using the emailed clues unless you get very stuck and don’t know what to do to next.
</p>

  
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" [(ngModel)]="registration.email" type="email" class="form-control" placeholder="Email" (keydown.enter)="onStart()" />
  </div>

  <div class="form-group text-center">
    <button  (click)="onStart()" type="submit" class="btn btn-primary">Start</button>
  </div>

